<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Administración-Reclamo</title>
</head>

<body>
    <div class="card">
        
        <div class="card-title">
            <h3>
                Detalle de Reclamo
            </h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h4>
                        <%= data.titulo_re %>
                    </h4>
                    <p>Presentado por: <%= data.nombre %>
                            <%= data.apellido %>
                    </p>
                    <p>Descripción: <%= data.descripcion_re %>
                    </p>
                    <a href="/getDoctor/<%= data.id_solicitud %>">Revisar al medico</a>
                    <form action="/deleteReclamacion/<%= data.id_reclamacion %>" method="post">
                        <div class="mb-3">
                            <input type="hidden" name="estado_re" value="1">
                        </div>
                        <button type="submit" class="btn btn-primary">Marcar como revisado</button>
                    </form>
                </div>
            </div>
        </div>        
    </div>
    </div>
</body>

</html>